/********************************************
  =======================
  DEFAULT COMPONENT'S CSS
  =======================
  Most of the style is inside each component.
  Here we have some things that are used all around the application.
 ********************************************/

$base-size: 8px; // This will be used in fonts and paddings

/**
 =======================
  FONTS
 =======================
 */
$font-family: "Avenir", Helvetica, Arial, sans-serif;

$font-size: 1em;

/**
 =======================
  COLORS
 =======================
 */
$background-color: #FFFFFF;

$text-color: #696D7D;

$action-color: #68B0AB;

$disabled-color: #C8D5B9;

$hover-color: #8FC0A9;